/* constants */
:root{
    --primary_darkBlue: #1A2D4B;
    --secundary_boneWhite: #FDFCFD;
    --terciary_black: #171717;
    --color_deepBlue: #394A6A;
    --color_grey: #8B8B8B;
    --color_blueGrey: #68789B;
    --color_lightBlueGrey: #7887AB;
    --color_skyBlue: #DDECFF;
    --font: "Montserrat", sans-serif;
    --font2: "Ubuntu", sans-serif;
    --font3: "Poiret one", sans-serif;
    --font4:  "Plus Jakarta Sans", sans-serif;
}
body{
    margin:0;
    padding:0;
    font-family: var(--font);
}
*{
    margin:0;
    padding:0;
}
h1{
    font-family: var(--font4);
    font-weight: bold;
    font-size: 45px;
    line-height: 63.03px;
}

p{
    font-family: var(--font);
}

a{
    text-decoration: none;
    color: white;
}
/*****************************RECURSOS*/
/*****************************RECURSOS => BANNER: Mapas*/
.bannerMapas{
    width: 80%;
    margin: 0% auto;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}
    .bannerMapas__leftColumn{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 15px; 
        text-align: justify;
        line-height: 1.5;
        font-size: 20px;
        font-style: normal;
    }
        .google-maps{
            width: 140px !important;
        }
        .bannerMapas__Colored{
            color: var(--primary_darkBlue);
            font-weight: bold;
            font-style: italic;
        }
    .bannerMapas__rightColumn{
        width: 50%;
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
        .bannerMapas img{
            width: 80%;
        }

/*****************************RECURSOS => BANNER: Guía*/
.guia{
background-color: var(--color_skyBlue);
padding: 35px 0;
}
    .bannerGuia{
        padding: 45px 0;
        width: 80%;
        margin: 0 auto;
        display: flex;
        gap: 40px;
        justify-content: space-between;
        align-items: center;
    }
        .bannerGuia__leftColumn{
            width: 50%;
            display: flex;
            justify-content: center;
            padding-top: 30px;
        }
            .bannerGuia__leftColumn img{
                width: 100%;
            }
        .bannerGuia__rightColumn{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-top: 15px; 
            text-align: justify;
            line-height: 1.7;
            font-size: 20px;
            font-style: normal;
            font-weight: bold;
            
        }
            .resaltar_texto{
                background-color:var(--primary_darkBlue);
                line-height: 12.50px;
                color: white;
                padding: 5.50px 12px;
                width: fit-content;
                border-radius: 10px;
                align-content: center;
            }

/*****************************RECURSOS => BANNER: Soporte técnico y actualizaciones*/
.soporte{
    background-color: var(--primary_darkBlue);
}
.bannerSoporte{
    padding: 80px 0;
    width: 80%;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
    color: white;
    
}
    .bannerSoporte_img{
        width: 70%;
        padding-top: 15px; 
        display: flex;
        margin: 0% auto;
        justify-content: center;
    }
        .bannerSoporte_img img{
            width: 50%;
        }
    .bannerSoporte_text{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 15px; 
        line-height: 1.5;
        font-size: 20px;
        font-style: normal;
        text-align: justify;
        color:var(--secundary_boneWhite);
    }
        .bannerSoporte_textJustify{
            text-align: center;
            font-weight: bold;
            font-size: 25px;
            color:var(--color_grey);
        }
    .enlace_centroSoporte{
        background-color: var(--color_lightBlueGrey);
        color: var(--primary_darkBlue);
        padding: 15px 30px;
        border-radius: 20px;
        text-align: center;
        justify-content: center;
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.639), 0 6px 10px 0 rgba(0, 0, 0, 0.639); 
        cursor: pointer;
       
    }
        .enlace_centroSoporte_text a{
            color: var(--color_skyBlue);
        }

/*****************************RECURSOS => BANNER: Aplicaciones de NeverLost en diferentes entornos y sectores*/
.sectores {
    background-color: var(--color_blueGrey);
}

    .bannerSectores {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 80px 0;
        gap: 60px;
        color: white;
    }

        .bannerSectores__grid {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(4, 320px);
            grid-template-rows: repeat(2, 400px);
            gap: 30px;
        }

            .item {
                display: flex;
                flex-direction: column;
                gap: 25px;
                padding: 40px 35px;
                border: 2px solid #DDECFF;
                border-radius: 10px;
                align-items: center;
                background-color: white;
            }

                .item__img {
                    width: 80%; 
                    height: 65%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .item__img img {
                        width: 100%; /* Ajustar el tamaño de la imagen al 100% del contenedor */
                        /* max-width: 100%; */
                        height: auto; /* Mantener la proporción de la imagen */
                    }

                .item__p {
                    width: 100%;
                    height: 30%;
                    display: flex;
                    flex-direction: column;
                    gap: 9px;
                    font-size: 16px;
                    color: var(--color_lightBlueGrey);
                    text-align: center; /* Asegurar que el texto esté centrado */
                }
                    .item__p h3{
                        color: var(--primary_darkBlue);
                    }
                    .item__p p{
                        font-size: 14px;
                        font-weight: bold;
                        color: var(--color_blueGrey);
                    }

/*****************************FUNCIONAMIENTO*/
/*****************************FUNCIONAMIENTO => BANNER: ¿Cómo funciona?*/
.funcionamiento{
    background-color: var(--color_blueGrey);
}
.bannerFuncionamiento{
    width: 80%;
    display: flex;
    margin: 0 auto;
    padding: 100px 0;
    justify-content: space-between;
    overflow: hidden; 
}
    .bannerFuncionamiento__leftColumn{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        /* background-color: blanchedalmond; */
    }
        .carouselFunc{
            width: 35%;
            position: relative;
            overflow: hidden;
        }
            .carouselFunc img{
                max-width: 100%;
                height: auto;
                display: none;
            }
                .carouselFunc img.active{
                    display: block;
                    overflow: visible;
                }
        /* Las clases carousel-control, carousel-control.prev y carousel-control.next, se llaman en el siguiente carrousel */

    .bannerFuncionamiento__rightColumn{
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: justify;
        line-height: 1.7;
        font-size: 18px;
        font-style: normal;
        
    }
        .bannerFuncionamiento__rightColumn_p1{
            margin-right: 17%;
            font-weight: bold;
            color: white;
            
        }
        .bannerFuncionamiento__rightColumn_p2{
            margin-left: 17%;
            padding: 20px;
            border-radius: 15px;
            background-color: var(--color_skyBlue);
            color:var(--color_deepBlue);
            box-shadow: 14px 14px 46px 2px rgba(26,45,75,1);
            
        }
            .destacar_texto{
                font-weight: bold;
                font-style: italic;
                color: var(--primary_darkBlue);
            }

        .bannerFuncionamiento__rightColumn_p3{
            margin-left: 17%;
            padding: 20px;
            border-radius: 15px;
            background-color: var(--color_skyBlue);
            font-weight: bold;
            font-style: italic;
            color: var(--color_lightBlueGrey);
            box-shadow: 14px 14px 46px 2px rgba(26,45,75,1);
        }
    
        

/*****************************FUNCIONAMIENTO => BANNER: Tutorial (hereda clases del banner ¿Cómo funciona?*/
.tutorial{
    background-image: url('/img/resources/fondo_tutorial.svg');
    display:flex;
    justify-content: center;
    align-items: center;
}
.bannerFuncionamiento {
    display: flex;
    width: 80%;
    overflow: hidden;
    /* gap: 50px; */
}

    .bannerTutorial__rightColumn, .bannerTutorial__leftColumn {
        padding: 20px;
    }

    .bannerTutorial__rightColumn {
        width: 65%;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .carouselTuto {
            position: relative;
            width: 50%;
            overflow: hidden;
        }

            .carouselTuto img {
                /* width: 45%;
                height: auto;
                display: none; */
                max-width: 100%;
                height: auto;
                display: none;
            }

                .carouselTuto img.active {
                    display: block;
                    overflow: visible;
                }

        .carousel-control {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 15px;
            cursor: pointer;
            border-radius: 50%;
            font-size: 20px;
            user-select: none;
            z-index: 100;
        }

            .carousel-control.prev {
                left: -20px;
            }

            .carousel-control.next {
                right: -20px;
            }

    .bannerTutorial__leftColumn{
        width: 55%;
        background-color: rgba(26,45,75,0.88);
        border-radius: 15px;
        padding: 30px 30px; 
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: justify;
        font-size: 20px;
        color: white;
        font-size: 16px;
        line-height: 1.5;
        
    }
        .bannerTutorial__leftColumn h1{
            text-align: right;
        }
        .bannerTutorial__leftColumn h3{
            color: var(--color_lightBlueGrey);
            text-transform: uppercase;
            text-align: right;
        }
        .step{
            width: 100%;
            display: flex;
            margin: 0 auto;
            gap: 30px;
            align-items: center;
        }

/*****************************FUNCIONAMIENTO => BANNER: Implantación*/
.implantacion{
    background-image: url('/img/resources/fondo_implantacion.svg');
}
    .bannerImplantacion{
        width: 80%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        text-align: justify;
        font-size: 20px;
        font-weight: bold;
        color: var(--primary_darkBlue);
        min-height: 700px;
    }
        .bannerImplantacion p{
            max-width: 60%;
        }
            .texto_adicional{
                color: var(--color_grey);
                text-align: center;
                margin-bottom: 20px;
            }
        .bannerImplantacion h2{
            text-transform: uppercase;
            color: var(--color_blueGrey)
        }
        .bannerImplantacion__descargas{
            display: flex;
            margin: 0 auto;
            max-width: 60%;
            max-height: 200px;
            gap: 45px;
            align-items: center;
        }
            .bannerImplantacion__descargas a{
                height: 200px;
                margin: 0 30px;
            }  
            .bannerImplantacion__descargas img{
                width: 80%;
                height: 200px;
                border-radius: 5px;
            }
/*****************************PRUEBA NEVERLOST*/
/*****************************PRUEBA NEVERLOST => BANNER: Plan personalizado*/
.planPersonalizado{
    background-color: aliceblue;
}
    .planPersonalizado__info{
        width: 80%;
        margin: 0 auto;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;

    }
        .planPersonalizado__info_textos{
            display: flex;
            flex-direction: column;
            gap: 25px;
            align-items: center;
            justify-content: center;
            text-align: justify;
            font-size: 18px;
            line-height: 1.5;
            font-weight: bold;
        }
            .p1{
                color: var(--primary_darkBlue);
            }
            .p2{
               color: var(--color_blueGrey);
               font-style: oblique;
            }
        .planPersonalizado__info_img{
            display: flex;
            margin: 25px auto;
            justify-content: space-between;
            gap: 30px;
        }
            .planPersonalizado__info_img img{
                width: 25%;
                border-radius: 25px;
                box-shadow: 14px 14px 46px 2px rgba(26,45,75,1);
            }
            
/*****************************PRUEBA NEVERLOST => BANNER: Demo*/
.demo{
    background-image: url('/img/photos/demo.svg');
    padding: 50px 0;
}
    .demo__info{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap:30px;
        margin: 0px auto;
        align-items: center;
        justify-content: center;
        background-color: rgba(26, 45, 75, 0.8); 
        padding: 50px;
        border-radius: 15px;
    }
        .demo__info_form{
            width: 100%;
            color: white;
            font-weight: bold;
        }

            .send_documents{
                font-weight: bold;
                font-size: 20px;
                display: flex;
                flex-direction: column;
                gap: 25px;
            }
            
                .input[type="file"] {
                    padding: 50px;
                    border: 2px dashed #ccc;
                    border-radius: 15px;
                    background-color: #f9f9f9;
                    transition: border-color 0.3s;
                    font-size: 20px;
                }
                
                .input[type="file"]:hover {
                    border-color: #888;
                }

