/* constants */
:root{
    --primary_darkBlue: #1A2D4B;
    --secundary_boneWhite: #FDFCFD;
    --terciary_black: #171717;
    --color_deepBlue: #394A6A;
    --color_grey: #8B8B8B;
    --color_blueGrey: #68789B;
    --color_lightBlueGrey: #7887AB;
    --color_skyBlue: #DDECFF;
    --font: "Montserrat", sans-serif;
    --font2: "Ubuntu", sans-serif;
    --font3: "Poiret one", sans-serif;
    --font4:  "Plus Jakarta Sans", sans-serif;
}
body{
    margin:0;
    padding:0;
    font-family: var(--font);
}
*{
    margin:0;
    padding:0;
}
h1{
    font-family: var(--font4);
    font-weight: bold;
    font-size: 45px;
    line-height: 63.03px;
}

p{
    font-family: var(--font);
}

a{
    text-decoration: none;
    color: white;
}
html{
    scroll-behavior: smooth;
}
/******************************************************HEADER*/
.header{
    padding: 15px 0;
    position:sticky;
    top:0;
    background-color: var(--primary_darkBlue);
}
    .header__language{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content:right;
        gap: 15px;
        text-transform: uppercase;
        color: var(--secundary_boneWhite);
        align-items: center;
    }
    .header__content{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .header__content_logo{
        font: var(--font2);
        color: var(--secundary_boneWhite);
        font-size: 55px;
        font-weight: 800;
        max-width: 20%;

    }
        .header__content_logo img{
            width: 100%;
        }
    .header__content_menu{
        display: flex;
        gap: 20px;
        color: var(--secundary_boneWhite);
        font-size: 20px;
        font-weight: 500;
        text-align: end;
    }
    .header__content_buttons{
        display:flex;
        gap: 20px;
        font-size: 18px;
        font-weight: 500;
    }
        .log_in{
            color:var(--color_skyBlue);
            line-height: 12.50px;
            padding: 8.50px 15px;
            width: fit-content;

            border-width: 3px;
            border-style: solid;
            border-radius: 25px;
            border-color: var(--color_skyBlue);
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.639), 0 6px 10px 0 rgba(0, 0, 0, 0.639);
        }
        .registro{
            color:var(--primary_darkBlue);
            line-height: 12.50px;
            background-color: var(--color_skyBlue);
            padding: 8.50px 15px;
            width: fit-content;
            border-radius: 25px;
            align-content: center;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.639), 0 6px 10px 0 rgba(0, 0, 0, 0.639);  
        }
/*****************************HEADER: hover*/
.header_hoverMenu{
    display: inline-block;
    position: relative;
}
    .header_hoverMenuContenido::before{
        filter: blur(5px);
    }
    .header_hoverMenuContenido{
        display: none;
        position: absolute;
        left: -500px;
        top: 25px;
        background-color: #1a2d4bea;
        width: 1000px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.639), 0 6px 10px 0 rgba(0, 0, 0, 0.639);
        border-radius: 8px;
        border-style: solid;
        border-color: var(--color_lightBlueGrey);
    }    
        .header_hoverMenuContenido__info{
            width: 100%;
            display: flex;
            gap: 50px;
            padding: 20px;
            font-size: 15px;
        }
            .bloque_menuIzq{
                width: 50%;
                padding:30px 0;
                display: flex;
                flex-direction: column;
                gap:5px;
                text-align: justify;
                justify-content: center;
                
            }
                /* .bloque_menuIzq p{
                    font-size: 15px;
                } */
            .headerHover__separation{
                padding: 30px 0;
                display:flex;
                flex-direction: column;
                gap:25px;
            }
            .bloque_menuDer{
                width: 40%;
                display:flex;
                flex-direction: column;
                gap: 15px;
                text-align: left;
                justify-content: center;
                font-weight: bold;
                font-size: 16px;
            }

    .header_hoverMenu:hover .header_hoverMenuContenido{
        display: block;
    }
    .header_hoverMenuContenido a{
        display: block;
        color: white;
        padding: 5px;
        text-decoration: none;
    }

/******************************************************LOGIN Y REGISTRO*/
/*****************************LOGIN y RECOVER_PASSWORD comparten clases CSS*/
.login{
    width: 80%;
    margin: 0% auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.login img{
    width: 62%;
}
    .credenciales{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-top: 30px;
        background-color: var(--color_lightBlueGrey);
        border-radius: 15px;
        color: var(--color_skyBlue);
        font-weight: bold;
        
    }
    .credenciales h2{
        font-size: 40px;
        color: var(--primary_darkBlue);
    }
        .credential_data{
            display: flex;
            flex-direction: column;
            margin: 50px;
        }
            .credential_data label{
                margin-bottom: 10px;
                font-weight: bold;
                color: white;
                font-size: 18px;
            }
            .credential_data input{
                min-width: 600px;
                height: 30px;
                font-size: 16px;
                color: var(--primary_darkBlue);
                border-style: hidden;
            }
        .botonCentrado{
            text-align: center;
            margin-bottom: 25px;
        }
            .boton_formulario{
                padding: 15px 30px;
                background-color: var(--color_deepBlue);
                border-bottom: #DDECFF;
                border-radius: 15px;
                color: white;
                font-weight: bold;
                font-size: 20px;
        }
        .olvidar_contraseña{
            padding-bottom: 40px;
        }
    .enlace_registro{
        font-weight: bold;
        font-size: 20px;
    }
        .enlace_registro a{
            color: var(--color_blueGrey);
        }

/*****************************REGISTER y COMPANY_REGISTER, comparten clases CSS*/
.register{
    background-color: var(--primary_darkBlue);
}
    .bannerRegister{
        width: 80%;
        margin: 0% auto;
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
        color: white;
    }
        .bannerRegister img{
            width: 62%;
        }
        .datos{
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding-top: 30px;
            background-color: white;
            border-radius: 15px;
            font-weight: bold;
            color:var(--color_lightBlueGrey);
        }
            .datos h2{
                font-size: 40px;
                color: var(--color_deepBlue);
            }

        .enlace_empresas{
            display: flex;
            margin: 0 auto;
            gap: 15px;
            align-items: center;
        }
            .boton_empresas{
                display: flex;
                margin: 0 auto;
                padding: 10px 15px;
                gap: 10px;
                align-items: center;
                background-color: var(--color_deepBlue);
                border-radius: 15px;
                color:white;
            }
        
    .data{
        display: flex;
        flex-direction: column;
        margin: 50px;
    }
        .data label{
            margin-bottom: 10px;
            font-weight: bold;
            color: var(--primary_darkBlue);
            font-size: 18px;
        }
        .data input{
            min-width: 600px;
            height: 30px;
            font-size: 16px;
            background-color: var(--color_blueGrey);
            color: var(--color_skyBlue);
            border-style: hidden;
        }
    .botonCrearCuenta{
        text-align: center;
        margin: 50px;
    }
        .crearCuenta{
            padding: 15px 30px;
            background-color: var(--color_deepBlue);
            border-bottom: #DDECFF;
            border-radius: 15px;
            color: white;
            font-weight: bold;
            font-size: 20px;
        }
    .enlace_login{
        font-weight: bold;
        font-size: 20px; 
    } 
        .enlace_login a{
            color: var(--color_skyBlue)
        }  
   

/******************************************************HOME*/ 
/******************************************************HOME : PUBLICIDAD */ 
.publicidadNeverlost1{
    /* background-image: url('/img/resources/fondo_publicidad1.svg'); */
    
}       
    .banner_publicidadNeverlost{
        width: 80%;
        display: flex;
        margin: 0px auto;
        padding: 35px 0;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        font-weight: bold;
        font-size: 40px;
    }
        .banner_publicidadNeverlost img{
            width: 100%;
        }
/******************************************************HOME : DISEÑO MAPAS */
.diseñoMapas{
    background-color:var(--color_skyBlue) ;
}
    .banner_diseñoMapas{
        width: 80%;
        display: flex;
        margin: 0px auto;
        padding: 30px 0;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        font-size: 18px;
        text-align: center;
        line-height: 1.5;
    } 
/******************************************************HOME : SERVICIOS NEVERLOST */
.serviciosNeverlost{
    /* background-color: var(--color_blueGrey); */
    background-image: url('/img/resources/banda.svg');
}
    .banner_serviciosNeverlost{
        width: 80%;
        display: flex;
        margin: 0 auto;
        padding: 30px 0;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        text-align: center;
        color: white;
        background-color: rgba(26, 45, 75, 0.9);
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(7, 7, 7, 0.826); 
    }
        .banner_serviciosImagenTitulo{
            display: flex;
            gap: 20px;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .logo_Neverlost_Home{
            width: 25%;
        }
        .banner_serviciosNeverlost__info{
            /* background-color: rgba(221, 236, 255, 0.8); */
            border-radius: 15px;
            display: flex;
            margin: 0 auto;
            padding: 15px 0;
            flex-direction: column;
            gap: 40px;
            align-items: center;
        }
            .banner_serviciosNeverlost__info_titulo{
                padding-bottom: 25px;
                color: var(--color_skyBlue);
                justify-content: center;
                align-items: center;
                display: flex;
                gap: 20px;
            }
            .banner_serviciosNeverlost__info_titulo img{
                width: 20%;
            }
            .recurso_info{
                /* background-color: var(--color_skyBlue); */
                display: flex;
                /* margin: 0 auto; */

                /*Pruebas*/
                    width: 95%;
                    margin: 0 auto;
                /*fin*/

                /* padding: 20px 0px;  */
                gap: 40px;
                align-items: center;
                justify-content: center;
            }
                .recurso_info_titulo{
                    background-color: rgba(120, 135, 171, 0.7);
                    box-shadow: 0 4px 8px rgba(7, 7, 7, 0.826);
                    border-radius: 15px;
                    width: 30%;
                    height: 140px;
                    display: flex;
                    /* padding: 30px 20px; */
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    line-height: 1.5;
                }
                .recurso_info_lista{
                    width: 60%;
                    display: flex;
                    margin:0 auto;
                    gap: 50px;
                    padding: 20px;
                    justify-content: center;
                    align-items: center;
                    line-height: 1.5;
                    text-align: justify;
                    font-size: 18px;
                    }
                    .recurso_info_lista img{
                        width: 10%;
                        height: 15%;
                    }
                    .recurso_info_lista_parrafos{
                        display: flex;
                        /* margin: 0 auto; */
                        flex-direction: column;
                        gap: 20px;

                    }
/******************************************************HOME : CARACTERÍSTICAS */
.caracteristicas{
    background-color: var(--color_blueGrey);
}
    .banner_carasteristicas{
        width: 80%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        gap: 20px;
        padding: 25px 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;

    }

        .banner_caracateristicasTitulo{
            display: flex;
            gap: 20px;
            text-align: center;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .banner_caracteristicas__info{
            display: grid;
            justify-content: center;
            padding: 25px;
            grid-template-columns: repeat(3, 320px);
            grid-template-rows: repeat(2, 400px);
            gap: 50px;
            
        }
            .caracteristicas_info{
                display:flex;
                margin: 0 auto;
                flex-direction: column;
                gap: 20px;
                box-shadow: 0 4px 8px rgba(221, 236, 255, 0.826);
                padding: 50px;
                border-radius: 15px;
                background-color: var(--color_deepBlue);
            }
                .caracteristicas_info img{
                    width: 100%;
                    height: 40%;
                }
                .caracteristicas_info_textos{
                    height: 60%;
                    width: 100%;
                    display: flex;
                    margin:0 auto;
                    flex-direction: column;
                    gap: 20px;
                    font-size: 14px;
                    text-align: justify;
                    justify-content: start;
                    line-height: 1.5;

                }
                .caracteristicas_info_textos h3{
                    text-align: center;
                    font-size: 18px;
                }
/******************************************************FOOTER*/
.footer{
    background-color: var(--primary_darkBlue);
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--secundary_boneWhite);
    font-size: 15.5px;
    line-height: 2;
}
.footer__info{
    width: 80%;
    display:flex;
    margin: 0 auto;
    gap: 150px;
    justify-content: center;
    
}
    .footer__info_descarga{
        display:flex;
        flex-direction: column;
        justify-content: left;
        text-align: justify;
        max-width: 33%;
    }
        .footer__info_descarga img{
            width: 65%;
            margin-bottom: 30px;
        }
        .footer__info_descarga p{
            max-width: 80%;
            margin-bottom: 15px;
            font-size: 14px;
            line-height: 1.5;
        }
        .descargas{
            display: flex;
            margin: 20px auto;
        }
        .descargas img{
            width: 70%;
            border-radius: 5px;
        }
            
    .footer__info_listas{
        display: flex;
        flex-direction: column;
        gap: 12px;
        list-style-type: none;
        margin-top: 60px;
    }
    .footer__info_listas a{
        color:var(--color_lightBlueGrey);
    }
        .titulos_footer{
            color: var(--secundary_boneWhite);
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;
        }
.footer__siguenos{
    width: 80%;
    display:flex;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: center;
}
.footer__redesSociales{
    width: 80%;
    display:flex;
    margin: 0 auto;
    gap: 20px;
    justify-content: center;
}
.footer__copyright{
    width: 80%;
    display:flex;
    margin: 0 auto;
    justify-content: center;
    font-weight: bold;
}



