/*************************************** constants */
:root{
    --primary_darkBlue: #1A2D4B;
    --secundary_boneWhite: #FDFCFD;
    --terciary_black: #171717;
    --color_deepBlue: #394A6A;
    --color_grey: #8B8B8B;
    --color_blueGrey: #68789B;
    --color_lightBlueGrey: #7887AB;
    --color_skyBlue: #DDECFF;
    --font: "Montserrat", sans-serif;
    --font2: "Ubuntu", sans-serif;
    --font3: "Poiret one", sans-serif;
    --font4:  "Plus Jakarta Sans", sans-serif;
}
body{
    margin:0;
    padding:0;
    font-family: var(--font);
}
*{
    margin:0;
    padding:0;
}
h1{
    font-family: var(--font4);
    font-weight: bold;
    font-size: 45px;
    line-height: 63.03px;
}

p{
    font-family: var(--font);
}

a{
    text-decoration: none;
    color: white;
}

/* RECURSOS */
/*************************************** Guía */
.resaltar_texto:hover{
    background-color: var(--color_blueGrey);
    color: white;
    transform: scale(1.1); /* Cambia el valor de escala según sea necesario */
    transition: transform 0.5s ease-in-out; /* Transición suave */
}
/*************************************** Soporte técnico */
/****cambio de escala y color al párrafo de enlace en centro de soporte**/
.enlace_centroSoporte:hover{
    transform: scale(1.1); 
    transition: transform 0.5s ease-in-out; 
    box-shadow: 14px 14px 46px 2px #DDECFF;
}
    .enlace_centroSoporte a:hover{
        color: white;
    }
/****cambio de imágenes, color de fondo y color de las letras de los items, al hacer el hover sobre el div padre(item)**/
/**cambio fondo y color de letras*/
.item:hover{
    box-shadow: 0px 5px 20px 0.1px rgb(45, 113, 240);
    transition: 1s;
    background-color: var(--primary_darkBlue);
    
}
.item:hover h3,
.item:hover p {
    color: white; /* O el color que prefieras */
}
/**cambio imagenes*/
.item:hover img#sector_transporte {
    content: url('/img/icons/sectores/hover/transportes.svg');
}
.item:hover img#sector_sanitario {
    content: url('/img/icons/sectores/hover/sanitario.svg');
}
.item:hover img#sector_industrial {
    content: url('/img/icons/sectores/hover/industrial.svg');
}
.item:hover img#sector_administrativo {
    content: url('/img/icons/sectores/hover/administracion.svg');
}
.item:hover img#sector_comercial {
    content: url('/img/icons/sectores/hover/comercial.svg');
}
.item:hover img#sector_cultural {
    content: url('/img/icons/sectores/hover/cultural.svg');
}
.item:hover img#sector_recreativo {
    content: url('/img/icons/sectores/hover/recreativo.svg');
}
.item:hover img#sector_turistico {
    content: url('/img/icons/sectores/hover/turistico.svg');
}



